In [1]:
import mysql.connector as mysql
from mysql.connector import Error

user = 'root'
password = 'example'
host = 'localhost'
port = '3308'
database = 'Binomontron'

## Création de la table 'apprenants' et insertion des apprenants dans la table

In [65]:
try:
    conn = mysql.connect(host=host, port=port, user=user, password=password, database=database)
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS apprenants;')
        print('Creating table....')
        cursor.execute("CREATE TABLE apprenants(id INT NOT NULL PRIMARY KEY AUTO_INCREMENT, nom VARCHAR(50) NOT NULL, prenom VARCHAR(50) NOT NULL, email VARCHAR(100) NOT NULL);")
        print("Table is created....")
        
        sql = f'''INSERT INTO apprenants (nom, prenom, email) VALUES 
        ('LE GRAND','Kevin','kevin.le-grand@isen-ouest.yncrea.fr'),
        ('PETIARD',	'Harold','harold.petiard@isen-ouest.yncrea.fr'),
        ('SCANU','David','david.scanu@isen-ouest.yncrea.fr'),
        ('ANCELIN','Antoine','antoine.ancelin@isen-ouest.yncrea.fr'),
        ('JOURNAUX','Johann','johann.journaux@isen-ouest.yncrea.fr'),
        ('LEBARBIER','Charley','charley.lebarbier@isen-ouest.yncrea.fr'),
        ('DIABY','Amadou','amadou.diaby@isen-ouest.yncrea.fr'),
        ('DAUMER','Geoffroy','geoffroy.daumer@isen-ouest.yncrea.fr'),
        ('JULES','Dimitri','dimitri.jules@isen-ouest.yncrea.fr'),
        ('GUERIN','Basile','basile.guerin@isen-ouest.yncrea.fr'),
        ('OSWALD','Viacheslav','viacheslav.oswald@isen-ouest.yncrea.fr'),
        ('DUSSART','Ramata Soraya','ramata-soraya.dussart@isen-ouest.yncrea.fr'),
        ('ZOUITEN','Guinel','guinel.zouiten@isen-ouest.yncrea.fr'),
        ('MARCOTTE','Mickaël','mickael.marcotte@isen-ouest.yncrea.fr');'''
        
        cursor.execute(sql)
        print("Record inserted")
        conn.commit()
        cursor.close()
        conn.close()
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('binomontron',)
Creating table....
Table is created....
Record inserted

## Création des groupes aléatoires

### méthode 1: avec le module random de Python

In [2]:
import random

In [23]:
try:
    conn = mysql.connect(host=host, port=port, user=user, password=password, database=database)
    if conn.is_connected():
        cursor = conn.cursor()
        
        cursor.execute("SELECT nom, prenom FROM apprenants")
        apprenants = cursor.fetchall()
        cursor.close()
        conn.close()
except Error as e:
            print("Error while connecting to MySQL", e)

In [22]:
len(apprenants)

14

In [24]:
random.shuffle(apprenants)
apprenants

[('DAUMER', 'Geoffroy'),
 ('LE GRAND', 'Kevin'),
 ('ZOUITEN', 'Guinel'),
 ('DIABY', 'Amadou'),
 ('LEBARBIER', 'Charley'),
 ('MARCOTTE', 'Mickaël'),
 ('SCANU', 'David'),
 ('DUSSART', 'Ramata Soraya'),
 ('OSWALD', 'Viacheslav'),
 ('GUERIN', 'Basile'),
 ('JOURNAUX', 'Johann'),
 ('PETIARD', 'Harold'),
 ('JULES', 'Dimitri'),
 ('ANCELIN', 'Antoine')]

### méthode 2: ordre aléatoire fait aux niveaux de la demande à la table

In [6]:
try:
    conn = mysql.connect(host=host, port=port, user=user, password=password, database=database)
    if conn.is_connected():
        cursor = conn.cursor()
        
        cursor.execute("SELECT nom, prenom FROM apprenants ORDER BY RAND()")
        apprenants_shuffle = cursor.fetchall()
        cursor.close()
        conn.close()
except Error as e:
            print("Error while connecting to MySQL", e)
apprenants_shuffle

[('ANCELIN', 'Antoine'),
 ('OSWALD', 'Viacheslav'),
 ('SCANU', 'David'),
 ('DIABY', 'Amadou'),
 ('PETIARD', 'Harold'),
 ('JOURNAUX', 'Johann'),
 ('JULES', 'Dimitri'),
 ('GUERIN', 'Basile'),
 ('ZOUITEN', 'Guinel'),
 ('DAUMER', 'Geoffroy'),
 ('LE GRAND', 'Kevin'),
 ('LEBARBIER', 'Charley'),
 ('MARCOTTE', 'Mickaël'),
 ('DUSSART', 'Ramata Soraya')]

In [7]:
def group_shuffle():
    '''Génère une liste de 14 apprenants dans un ordre aléatoire'''
    try:
        conn = mysql.connect(host=host, port=port, user=user, password=password, database=database)
        if conn.is_connected():
            cursor = conn.cursor()            
            cursor.execute("SELECT nom, prenom FROM apprenants ORDER BY RAND()")
            apprenants_shuffle = cursor.fetchall()
            cursor.close()
            conn.close()
        return apprenants_shuffle
    except Error as e:
                print("Error while connecting to MySQL", e)

### Répartition des apprenants dans des groupes

In [8]:
def creat_group(membre_par_groupe):
    ''''réparti les apprenants dans un groupe suivant le nombre de membre indiqué'''
    apprenants_shuffle = group_shuffle() # utilise la méthode 2 pour générer une liste d'apprenant dans un ordre aléatoire
    list_groupe = []
    for i in range(0, len(apprenants_shuffle), membre_par_groupe):
        groupe = apprenants_shuffle[i: i+membre_par_groupe]
        list_groupe.append(groupe)
    return list_groupe

In [9]:
groups = creat_group(4)
for group in groups:
    print(group)

[('DIABY', 'Amadou'), ('GUERIN', 'Basile'), ('JULES', 'Dimitri'), ('ZOUITEN', 'Guinel')]
[('MARCOTTE', 'Mickaël'), ('DAUMER', 'Geoffroy'), ('SCANU', 'David'), ('PETIARD', 'Harold')]
[('ANCELIN', 'Antoine'), ('DUSSART', 'Ramata Soraya'), ('LE GRAND', 'Kevin'), ('JOURNAUX', 'Johann')]
[('OSWALD', 'Viacheslav'), ('LEBARBIER', 'Charley')]

## Obtenir le mail d'un apprenant

In [28]:
def mail_apprenant(nom):
    '''à partir du nom de l'apprenant, la fonction renvoie le mail'''
    try:
        conn = mysql.connect(host=host, port=port, user=user, password=password, database=database)
        if conn.is_connected():
            cursor = conn.cursor()            
            cursor.execute(f'''SELECT email FROM apprenants WHERE nom="{nom.upper()}"''')
            apprenant= cursor.fetchone()
            cursor.close()
            conn.close()
        return apprenant[0]
    except Error as e:
                print("Error while connecting to MySQL", e)

In [11]:
mail_apprenant('marcotte')

'mickael.marcotte@isen-ouest.yncrea.fr'

## Enregistrement d'un groupe créé dans une table

In [12]:
def enregistrement_group(groups):
    '''enregistre un groupe précédemment formé'''
    try:
        conn = mysql.connect(host=host, port=port, user=user, password=password, database=database)
        if conn.is_connected():
            cursor = conn.cursor()            
            cursor.execute(f'''INSERT INTO groupe (groupe) VALUE ("{groups}");''') #la date d'enregistrement est généré au niveau de la table
            conn.commit()
            cursor.close()
            conn.close()
    except Error as e:
                print("Error while connecting to MySQL", e)

In [13]:
enregistrement_group(groups)

## Vérifier que le groupe créé n'existe pas déjà

In [17]:
def groups_present(list):
    '''se connecte à la table 'groupe' pour déterminer si la répartition par groupe a déjà été généré'''
    try:
        conn = mysql.connect(host=host, port=port, user=user, password=password, database=database)
        if conn.is_connected():
            cursor = conn.cursor()            
            cursor.execute(f'''SELECT id_group FROM groupe WHERE groupe="{list}";''')
            response = cursor.fetchone()
            if response:                
                return True
            else:
                return False
            
    except Error as e:
                print("Error while connecting to MySQL", e)

In [18]:
groups_present([[('DIABY', 'Amadou'), ('PETIARD', 'Harold'), ('DAUMER', 'Geoffroy'), ('DUSSART', 'Ramata Soraya'), ('SCANU', 'David'), ('LE GRAND', 'Kevin'), ('JULES', 'Dimitri'), ('OSWALD', 'Viacheslav'), ('ZOUITEN', 'Guinel'), ('JOURNAUX', 'Johann'), ('MARCOTTE', 'Mickaël'), ('LEBARBIER', 'Charley'), ('ANCELIN', 'Antoine'), ('GUERIN', 'Basile')]])

True

In [26]:
def creat_group_new(nombre_groupe):
    '''crée un nouveau groupe, puis vérifie s'il existe déjà, si oui, la fonction est à nouveau appelée, si non, la groupe est créé'''
    apprenants_shuffle = group_shuffle()
    list_groupe = []
    for i in range(0, len(apprenants_shuffle), nombre_groupe):
        groupe = apprenants_shuffle[i: i+nombre_groupe]
        list_groupe.append(groupe)
    
    #boolean = False
    if groups_present(list_groupe):
        #boolean = True
        creat_group_new(nombre_groupe)    
    #return boolean       
    return list_groupe

J'ai créé une boucle pour vérifier que la fonction fonctionnait comme prévu puisqu'avec 14 apprenants, plus de 87 milliard de répartition sont possibles. Au bout de 20 min, seul 27789 combinaisons sont sorties. Je ne sais pas si la fonction fonctionne ou non, puisqu'elle aurait dû s'arrêter si elle tombait sur une répartition existante. D'autant plus qu'un groupe avec les mêmes apprenants, mais dans un ordre différent sera considéré comme différent.

In [29]:
group2 = False
count = 0
while group2 != True:
    group2= creat_group_new(4)
    count +=1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118

KeyboardInterrupt: